Package: com.0x7ff.dimentio
Name: dimentio
Version: 0.0.4
Architecture: iphoneos-arm
Description: PoC tool for setting/getting nonce without triggering KPP/KTRR/PAC. (requires tfp0)
Maintainer: 1Conan <tweaks@1conan.com>
Author: 0x7ff
Section: System
Conflicts: dimentio
Tag: role::hacker
